input[type="text"] {
  color: pink;
}

input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"] {
  border-radius: 5px;
  border: 1px solid #c3c3c3;
  color: #181818;
}

input.form-error {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-left: 5px solid red;
}

.form-group {
  display: block;
  margin-bottom: 5px;
}

.form-group[required] label::after {
  content: "*";
  color: red;
}

div.form-group label {
  display: block;
}

#error-message {
  background-color: #851515;
  border: #640909 solid 2px;
  border-radius: 5px;
  height: 50px;
  width: 200px;
  padding: 3px;
  font-size: 12px;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.hide {
    display: none;
}