body {
  margin: 0px;
}

div {
  height: 100px;
  width: 100px;
  background-color: rgb(0, 0, 29);
  color: white;
}

.con-clase {
  color: black;
  font-weight: bolder;
}

div.con-clase {
  width: 100%;
  background-color: rgb(90, 2, 2);
  color: pink;
}

article > p {
  font-size: 24px;
  font-weight: bold;
  color: black;
}

article > section > p {
  font-size: 12px;
  font-weight: normal;
  color: black;
}

h1.the::first-letter {
  font-size: 50px;
  font-weight: bolder;
  color: black;
  font-family: 'Allura', cursive;
}

h1.the {
  font-size: 20px;
  font-weight: bold;
  color: black;
  font-family: "Homemade Apple", cursive;
}

div.menu {
  text-align: center;
  width: auto;
  height: auto;
  padding-top: 12%;
}

a {
  text-align: center;
  width: 100%;
  height: 30px;
  display: block;
  text-decoration: none;
  color: white;
}

a:hover {
  color: red;
  font-size: 18px;
}

a:active {
  color: #c3c3c3;
  font-size: 20px;
}

#main {
  text-align: center;
  background-color: red;
  padding: 20px;
  width: 300px;
  height: 300px;
  border: solid 3px black;
  margin: 10px;
  border-radius: 300px;
}

img.katana  {
  border-radius: 300px;
  max-height: 300px;
  max-width: 300px;
}

img.tlou2 {
  border-radius: 100px;
  max-height: 100px;
  max-width: 100px;
}