body {
  margin: 0px;
}
h1 {
  z-index: 10;
  top: 0px;
  left: 0;
  position: sticky;
  height: 50px;
  width: 100%;
  background-color: white;
  -webkit-box-shadow: 0px 6px 15px 0px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 0px 6px 15px 0px rgba(255, 255, 255, 0.75);
  box-shadow: 0px 6px 15px 0px rgba(255, 255, 255, 0.75);
}
img {
  max-width: 200px;
}
div.absolute {
  top: 50%;
  right: 50%;
  background-color: white;
  position: absolute;
}
div.fog {
  z-index: 50;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.719);
  position: fixed;
}
div.pop-up {
  z-index: 100;
  top: 10%;
  left: 10%;
  height: 70%;
  width: 70%;
  background-color: rgb(255, 0, 0);
  position: fixed;
  color: white;
  font-size: 90%;
}
div > div {
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
}
@media screen and (max-width: 799px) {
  h1 {
    text-align: center;
  }
  div > div {
    width: 100%;
    height: 150px;
    background-color: rgb(61, 0, 0);
    color: rgb(170, 180, 33);
    margin-bottom: 10px;
    padding: 10px;
  }
}

@media screen and (min-width: 800px) {
  div > div {
    display: inline-block;
    width: 45%;
    height: 150px;
    background-color: rgb(0, 0, 61);
    color: white;
    margin-bottom: 20px;
    padding: 10px;
  }
}

@media print {
  * {
    background-color: white;
    color: black;
  }
  img {
    display: none;
  }
  div {
    display: inline-block;
    min-width: 25%;
    height: 200px;
  }
}
