@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlvAw.ttf) format('truetype');
}
div.container {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fffb00;
}
div.container.red {
  background-color: #3d0404;
}
div.container > article {
  color: #ffffff;
}
div.container > article > h1 {
  font-family: 'Roboto', sans-serif;
  color: #5e5eca;
}
