@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
@main-f-color: #ffffff;
@secondary-f-color: #5e5eca;

@main-bg-color: #fffb00;
@secondary-bg-color: #3d0404;

@main-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
@headers-family: "Roboto", sans-serif;
div.container {
  font-family: @main-family;
  background-color: @main-bg-color;
  &.red {
    background-color: @secondary-bg-color;
  }
  & > article {
    color: @main-f-color;
    & > h1 {
      font-family: @headers-family;
      color: @secondary-f-color;
    }
  }
}
